

<div class='row'>   <!--INIZIO NAVBAR-->
    <div class='col-sm-12 col-md-12'>
        
          <nav class="containerNav container-fluid ">
            <a class="navbar-brand" href="#">
              <img src="assets\img\menu2.png" width="50" height="50"  alt="">
            </a>
              <h3>Bakery</h3>
              <div class="containerLink">
              <a id="links" routerLink='/muffin' routerLinkActive="active">Muffin   </a>
              <a id="links" routerLink='/torte' routerLinkActive="active">Torte   </a>
              <a id="links" routerLink='/footer' routerLinkActive="active">Contatti   </a>
       
            </div>
          </nav>
          </div>
          

</div>
