
// ! le classi con il - ex: container-nav

.containerNav{
    display: inline-flex;
    justify-content: flex-start;
    width:100vw;
    background-color:rgb(165, 47, 120,0.2);
    font-family: 'Open Sans', sans-serif;
    color:rgb(165, 47, 120); 
}

.pointer {
    &:hover {
        cursor: pointer;
    }
}

img{
    width:50px;
    height:50px;
}

h3{
    margin-right: 950px;
    margin-left: 0px;
    margin-top: 20px;
}


.container-links {
    display: inline-flex;
    justify-content:flex-end;
    align-items: center;

}
#links{
    margin-right: 20px;
    color:rgb(165, 47, 120);
}
