#viola{
    border-radius: 5%;
    justify-content: stretch;
    color:whitesmoke;
    border:5px, solid, pink;
	background-color:rgb(165, 47, 120,0.5);
}

#muffin{
    width: 40px;
    height:40px;
}

#top{
    margin-top: 10px;
    
}

#cardimg{
    width:200px;
    height:150px;
}

.cardok{
    background-color: unset;
    align-items: center;
   
}

.caroselimg img{
    width:50px;
    height:50px;
}
.container2{
    margin-top:100px;
    justify-content:center;
    
}
a{
    color:mediumvioletred;
}
.container2 img{
    width:350px;
    height:350px;
}
